# Python cache
__pycache__/
*.py[cod]

# Virtual environments
venv/
env/
.venv/

# IDE
.vscode/
.idea/

# Jupyter Notebook checkpoints
.ipynb_checkpoints/
*-checkpoint.ipynb

# Environment variables
.env

# OS files
.DS_Store
Thumbs.db